#header {
    position: fixed;
    top:0;
    width: 400px;
    margin: 0 auto;
    height: 50px;
    background-color: #fff;
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

#header .left {
    margin-left: 10px;
}

#header .logo {
    font-weight: 700;
}
#header .logo>img{
    height:20px;
}
#header .right {
    margin-right: 10px;
}
#header .logout,.login{
    display:inline;
}
#header .icon {
    margin-right: 10px;
}
#header .menubar{
    cursor:pointer;
}
/* ----------------------------------------------------- */
/* 햄버거아이콘 메뉴 창 */
.menu {
    position: fixed;
    margin:0 auto;
    top: 0;
    width: 400px;
    height:100%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 1);
    z-index: 101;
    padding: 20px 30px;
    display: block;
    transform: translateX(100%); /* 처음에는 메뉴가 왼쪽으로 숨겨짐 */
    opacity: 0;
    pointer-events: none; /* 모든 마우스 이벤트를 무시하는 속성 */
    transition: transform 0.5s ease, opacity 0.5s ease;

}
/* 스크롤바 숨기기 */
.menu::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* 스크롤바가 표시되지 않게 투명하게 처리 */
}
/* 메뉴바  */
.menu.show {
    transform: translateX(0); /* 메뉴가 오른쪽으로 펼쳐짐 */
    opacity: 1;
    pointer-events: auto; /* 마우스 이벤트를 다시 작동하도록 설정 */
}
/* -------------------------------------- */
.menu .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.menu .close a {
    color: black;
}

.menu .myinfoWrap {
    height: 100px;
    justify-content: flex-start;
}

.menu .myinfo{
    margin-left:30px;
}
.menu .myinfo>.userId {
    font-size: 20px;
    font-weight: 700;
}

.menu .myinfo>.alter {
    font-size: 8px;
}
.menu .alter>a{
    color:darkgray;
}
.menu .photo {
    width: 100px;
    height: 100px;
    margin-left:20px;
}

.menu .photo>img {
    width: 100%;
    border-radius: 100px;
    border:1px solid lightgray;
}

.menu .menuIconWrap{
    padding:0 20px;
}
.menu .menuIcon{
    width:80px;
    height:80px;
    cursor:pointer;
    text-align:center;
    border-radius:10px;
    border:1px solid lightgray;
    margin:auto 0;
    padding:15px 0; 
    font-size:30px;
    
}
.menu .menuIcon>p{
    font-size:8px;
    margin:0;
    
}
.menu .menuIconWrap{
    margin-bottom:40px;
}

.menu .menu .banner{
    width:100%;
    height:100px;
    background-image:url('../img/banner.png');
    background-size:contain;
    background-repeat: no-repeat;
}
.menu .bottomLine{
    border-bottom:1px solid lightgray;
}

